.setup {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.exercise-dropdown {
  width: 100%;
  min-height: 150px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  cursor: pointer;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  color: white;
}
input{
    border-radius: 5px;
    padding: 5px 5px;
    border: black;
}
button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 7em;
}

.exercise-dropdown option {
  padding: 8px;
  margin: 2px 0;
}

.exercise-dropdown option:checked {
  background: #27ae60;
  color: #fff;
}
